<!DOCTYPE html>
<html lang="en">

<head>
    <title>All Loans page</title>
</head>
<br>
<div class="container">
    <table class="table table-bordered" *ngIf="loandisbursals && loandisbursals.length > 0  else elseBlock">
        <thead class="bg-primary">
        <tr>
            <th>CUSTOMER ID</th>
            <th>LOAN DUE</th>
            <th>LOAN TENURE</th>
            <th>CREDIT SCORE</th>
            <th>LOAN ROI</th>
            <th>LOAN STATUS</th>
            <th>LOAN TYPE</th>
            <th>LOAN EMI</th>
            <th>LOAN ID</th>
            <th>PAY EMI(MONTH)</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let e of loandisbursals">
                <td> {{e.accountId}} </td>
                <td> Rs.{{e.loanAmount|number:'0.1-1'}} </td>
                <td> {{e.loanTenure}} </td>
                <td>{{e.creditScore}}</td>
                <td> {{e.loanRoi}} </td>
                <td> {{e.loanStatus}} </td>
                <td> {{e.loanType}} </td>
                <td> Rs.{{e.emi|number:'0.1-1'}} </td>
                <td> {{e.loanId}} </td>
                <td>
                    <button type="button" class="btn btn-large btn-block btn-success" (click)=updateBal(e)>PAY</button>
                </td>
                
            </tr>
        </tbody>
    </table>
    <ng-template #elseBlock>
        <h4> There are no approved loans to display! </h4>
    </ng-template>

</div>
