.jumbotron
{   
padding-top: 18px;
padding-bottom:0px;
padding-left: 20px;
padding-right: 10px;
color: antiquewhite;
background-color:crimson;
font-size: 3em;
height:100px;
 }
 

nav-link{
  color: white;
}