<!DOCTYPE html>
<html lang="en">
<head>
    <title>Rejected List</title>
    </head>
<br>
<div class="container">
    <table class="table table-bordered" *ngIf="loanrejects && loanrejects.length > 0  else elseBlock">

        <thead class="bg-primary">
            <tr>
                <th>CUSTOMER ID</th>
                <th>CREDIT SCORE</th>
                <th>LOAN STATUS</th>
                <th>LOAN TYPE</th>
                <th>LOAN ID</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let e of loanrejects">
                <td> {{e.accountId}} </td>
                <td>{{e.creditScore}}</td>
                <td> {{e.loanStatus}} </td>
                <td> {{e.loanType}} </td>
                <td> {{e.loanId}} </td>
                
            </tr>
        </tbody>
    </table>
    <ng-template #elseBlock>
        <h4> There are no rejected loans to display! </h4>
    </ng-template>

</div>
</html>